@import url('https://fonts.googleapis.com/css2?family=Eater&family=Special+Elite&display=swap');

.container--employeeRequests {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/12/91/1e/12911e2e226caf96cacf5835a87bc3b8.jpg');
    background-size: 25%;
    background-repeat: repeat;
}

.requests {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsl(25, 72%, 83%);
    max-width: fit-content;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

.request {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsl(25, 72%, 83%);
    max-width: fit-content;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 2rem;
}

.request__history {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsl(25, 72%, 83%);
    max-width: fit-content;
    text-align: left;
    margin-top: 0;
    margin-bottom: 2rem;
}

.pending-requests {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsl(25, 72%, 83%);
    max-width: fit-content;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

.open-requests {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsl(25, 72%, 83%);
    max-width: fit-content;
    text-align: left;
    margin-bottom: 1rem;
}

.pending-requests-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.open-requests-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0E0A;
    max-width: fit-content;
    height: 50px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #EADFC9;
    text-align: center;
    text-transform: uppercase;
}

button:hover {
    background-color: #CD6D5B;
}