@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');


.h1,
h1 {
    font-size: 2.5rem;
    font-family: 'Eater', cursive;
    color: #0F0E0A
}

.h2,
h2 {
    font-size: 1.5rem;
    font-family: 'Eater', cursive;
    color: #0F0E0A;
}

.form--login h1,
.form--login h2 {
    text-align: center;
    font-family: 'Eater', cursive;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #CD6D5B;
}

.form--login {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.form-heading {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.form--login>fieldset>input[type="email"] {
    width: 10em;
    justify-content: center;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container--login {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/e4/31/93/e43193429b03def566090e81dd49f64d.jpg');
    background-position: left;
    background-size: 25%;
    background-repeat: repeat;
}

.form--login {
    background-color: #CD6D5B;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 10rem;
}


.button--close {
    position: relative;
}

.link--register {
    display: block;
    text-align: center;
}